/* NurseSearch.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed to control the height of the centered area */
}

.nurse-name {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1px;
  display: inline-block;
}


.query-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1px;
  display: inline-block;
  
}


.nurse-image {
  max-width: 100%;
}

.search-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px
}




.add-nurse-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px

  }


  .edit-nurse-button {
    background-color: #a10f16;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px

  }





.search-buttons {
    display: flex;
    align-items: center;
  }
  .btn{
    width: 100%;
   
  }